{% extends 'base.html' %}

<body>
{% block content %}

<main>
    <h1>ABOUT US</h1>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us - Your E-Commerce Store</title>
        <style>
           
            body {
                font-family: Arial, sans-serif;
                background-color: #f9f9f9;
                margin: 0;
                padding: 0;
            }
            .container1 {
                max-width: 800px;
                margin: 0 auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                
            }
            h1 {
                color: #333;
            }
            p {
                color: #666;
            }
        </style>
    </head>
    <body>
        <div class="container1">
            
            <p>Welcome to Your go to  E-Commerce Store! We're passionate about providing high-quality products and exceptional customer service .</p>
            <br>
            <p>Shopping online has never been easier.Our mission is to ensure customer satisfaction for every pocket by providing authentic products at unbeatable and negotiable prices.</p>
           <p> With ShopHouse all your shopping dreams are just a swipe and click away from coming true!</p>
            <br>
            <p>ShopHouse + swipe + click + spend = JOY</p>
            <br>
            <ul>
                <li>top products</li>
                <li>top discounts</li>
                <li>Fast shipping </li>
                <li>24/7 customer support</li>
            </ul>
            <br>
            <p>Feel free to explore our store and discover something amazing!</p>
            
            <p>Contact us at <a href="mailto:info@yourstore.com">info.shophouse@yourstore.com</a> for any inquiries or feedback.</p>
        </div>
    
</main>
{% endblock%}
</body>