
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>registration form</title>
  <style>
   body{
    background-color: silver;
   }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }

    
    form {
      
      
      
      border: 2px solid #eeee;
      display: flex;
      flex-direction: column;

      align-items: left;
      text-align: left;
      margin: 10px 550px;
      padding: 15px;
      border: 2px solid #eeee;
      border-radius: 20px;
      width: 400px;
      background-color: hsl(210, 24%, 93%);
      
    }

    input, select, textarea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      grid-column: 1 / span 2;
      margin-top: 1rem;
    }

    button {
      margin-top: 0.5rem;
      padding: 0.5rem 2rem;
      background-color: teal;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      opacity: 0.8;
    }

    .errorlist {
      margin: 0;
      color: red;
    }

   
    label {
      font-weight: bold;
      margin-top: 0.5rem;
    }

    input[type="datetime-local"] {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    h1{
      color: teal;
    }
  </style>
</head>
<body>
  <div class="container">
    <form method="POST">
      <h1>Business registration Form</h1>
      {% csrf_token %}
      
    {{form}}
      
      
      <button type="submit" class="button">submit</button>
    </form>
  </div>
</body>
</html>

